<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script id="intelligence_template" type="text/x-handlebars-template">
    {% raw %}
    <h4>Будь ласка, допоможіть нам зібрати якомога більше інформації про цього кандидата</h4>
    <table class="table dossier table-bordered">
        <tr>
            <th>Регіон</th>
            <td>{{ region }}</td>
        </tr>
        <tr>
            <th>ПІБ</th>
            <td>{{ lastname_uk }} {{ firstname_uk }} {{ patronymic_uk }}</td>
        </tr>
        <tr>
            <th>ФИО</th>
            <td>{{ lastname_ru }} {{ firstname_ru }} {{ patronymic_ru }}</td>
        </tr>
    </table>

    <div class="row fill-the-blanks">
        <h4>Загальна інформація</h4>
        <div class="col-md-8">
            <textarea name="general-info" placeholder="Введіть дату(и) народження з пошуку ПІБ в базі nomer.ws, а також адресу(а) прописки та телефон(и)" maxlength="10000"></textarea>

            <h4>Родинні зв'язки</h4>
            <textarea name="family-info" placeholder="Введіть отриману раніше адресу з Nomer.WS та перенесіть в це поле людей, які прописані там де й кандидат, вказавши їх дату народження" maxlength="10000"></textarea>
        </div>
        <div class="col-md-4 buttons-block">
            <form action="http://nomer.ws/allukraina/" method="POST" target="_blank">
                <input type="hidden" value="{{ lastname_ru }}" name="lastName" />
                <input type="hidden" value="{{ firstname_ru }}" name="firstName" />
                <input type="hidden" value="{{ patronymic_ru }}" name="middleName" />

                <input type="hidden" value="" name="city" />
                <input type="hidden" value="" name="nd" />
                <input type="hidden" value="" name="nkv" />
                <input type="hidden" value="" name="phone" />
                <input type="hidden" value="" name="street" />
                <input type="hidden" value=" Найти " name="searchButton" />

                <button class="btn btn-block btn-social btn-reddit" type="submit" title="На сайті nomer.ws">
                    <i class="fa fa-home"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }} {{ patronymic_ru }}»
                </button>
            </form>

            <hr/>
            <h5>Спробуйте також пошукати на</h5>

            <a class="btn btn-block btn-social btn-misc" href="http://ua24ua.com/" target="_blank" title="Дані фізичних осіб">
                <i class="fa fa-user"></i> Дані фізичних осіб на ua24ua.com
            </a>
        </div>
    </div>

    <div class="row fill-the-blanks">
        <div class="col-md-8">
            <h4>Стиль життя</h4>
            <div class="alert alert-warning" role="alert">Увага! Для будь-якої релевантної інформації нижче, додавайте посилання на відповідні сторінки.</div>
            <textarea name="lifestyle-info" placeholder="Введіть інформацію у разі, якщо існують ознаки надміру розкішного способу життя або наявності дорогого майна" maxlength="10000"></textarea>

            <h4>Погляди</h4>
            <textarea name="views-info" placeholder="Уведіть, якщо присутні ознаки толерантності до сепаратизму або іншим потенційно небезпечним явищам" maxlength="10000"></textarea>
            <h4>Толерантність до корупції</h4>
            <textarea name="corruption-info" placeholder="Введіть інформацію, якщо присутні ознаки толерантності до корупції, включаючи дачу хабарів, платежі за подолання адміністративних бар'єрів і т. д." maxlength="10000"></textarea>
            <h4>Зв'язок з бізнес-колами, власний бізнес</h4>
            <textarea name="business-info" placeholder="Введіть інформацію про власний бізнес, його галузь і регіон операцій. Введіть інформацію про наявність досвіду роботи, який може створити конфлікт інтересів при роботі в прокуратурі. Перш за все спробуйте пошукати на ua24biz (лінк ліворуч)" maxlength="10000"></textarea>
            <h4>Зв'язок з політиками</h4>
            <textarea name="politics-info" placeholder="Введіть інформацію про наявність партійності, надмірної агітації за певних політиків\партії або про зв'язки з політиками." maxlength="10000"></textarea>
            <h4>Згадки в ЗМІ</h4>
            <textarea name="news-info" placeholder="Введіть негативну і/або значущу інформацію." maxlength="10000"></textarea>
            <h4>Судові справи</h4>
            <textarea name="courts-info" placeholder="Введіть інформацію про судових розглядах, з якими був пов'язаний кандидат" maxlength="10000"></textarea>
            <h4>Інше</h4>
            <textarea name="misc-info" placeholder="Введіть іншу інформацію, що не війшла у поля вище" maxlength="10000"></textarea>

        </div>
        <div class="col-md-4 buttons-block buttons-block-offset">
            <a class="btn btn-block btn-social btn-google" href="https://www.google.com.ua/search?q={{ lastname_uk }}+{{ firstname_uk }}+{{ patronymic_uk }}&num=20" target="_blank" title="У пошуковій системі Google">
                <i class="fa fa-google"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }} {{ patronymic_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-google" href="https://www.google.com.ua/search?q={{ lastname_uk }}+{{ firstname_uk }}&num=20" target="_blank" title="У пошуковій системі Google">
                <i class="fa fa-google"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-google"  href="https://www.google.com.ua/search?q={{ lastname_ru }}+{{ firstname_ru }}+{{ patronymic_ru }}&num=20"target="_blank" title="У пошуковій системі Google">
                <i class="fa fa-google"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }} {{ patronymic_ru }}»
            </a>
            <a class="btn btn-block btn-social btn-google" href="https://www.google.com.ua/search?q={{ lastname_ru }}+{{ firstname_ru }}&num=20" target="_blank" title="У пошуковій системі Google">
                <i class="fa fa-google"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>
            <hr/>

            <a class="btn btn-block btn-social btn-yandex" href="https://yandex.ua/search/?text=?q={{ lastname_uk }}+{{ firstname_uk }}+{{ patronymic_uk }}&numdoc=20" target="_blank" title="У пошуковій системі Yandex">
                <i class="fa">Я</i> Шукати «{{ lastname_uk }} {{ firstname_uk }} {{ patronymic_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-yandex" href="https://yandex.ua/search/?text=?q={{ lastname_uk }}+{{ firstname_uk }}&numdoc=20" target="_blank" title="У пошуковій системі Yandex">
                <i class="fa">Я</i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-yandex" href="https://yandex.ua/search/?text=?q={{ lastname_ru }}+{{ firstname_ru }}+{{ patronymic_ru }}&numdoc=20" target="_blank" title="У пошуковій системі Yandex">
                <i class="fa">Я</i> Шукати «{{ lastname_ru }} {{ firstname_ru }} {{ patronymic_ru }}»
            </a>
            <a class="btn btn-block btn-social btn-yandex" href="https://yandex.ua/search/?text=?q={{ lastname_ru }}+{{ firstname_ru }}+{{ patronymic_ru }}&numdoc=20" target="_blank" title="У пошуковій системі Yandex">
                <i class="fa">Я</i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>

            <hr/>
            <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/search/results/?q={{ lastname_uk }}+{{ firstname_uk }}" target="_blank" title="У мережі Facebook">
                <i class="fa fa-facebook"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/search/results/?q={{ lastname_ru }}+{{ firstname_ru }}" target="_blank" title="У мережі Facebook">
                <i class="fa fa-facebook"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>

            <a class="btn btn-block btn-social btn-vk" href="http://vk.com/search?c[country]=2&c[name]=1&c[q]={{ lastname_uk }}+{{ firstname_uk }}&c[section]=people" target="_blank" title="У мережі VK">
                <i class="fa fa-vk"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-vk" href="http://vk.com/search?c[country]=2&c[name]=1&c[q]={{ lastname_ru }}+{{ firstname_ru }}&c[section]=people" target="_blank" title="У мережі VK">
                <i class="fa fa-vk"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>

            <div class="alert alert-warning" role="alert">Увага! Сайт ok.ru фіксує ваші візити на сторінки кандидатів. Майте це на увазі, якщо хочете зберегти анонімність.</div>
            <a class="btn btn-block btn-social btn-odnoklassniki" href="http://www.ok.ru/dk?st.cmd=searchResult&st.query={{ lastname_uk }}+{{ firstname_uk }}" target="_blank" title="У мережі odnoklassniki">
                <i class="fa fa-odnoklassniki"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-odnoklassniki" href="http://www.ok.ru/dk?st.cmd=searchResult&st.query={{ lastname_ru }}+{{ firstname_ru }}" target="_blank" title="У мережі odnoklassniki">
                <i class="fa fa-odnoklassniki"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>


            <div class="alert alert-warning" role="alert">Увага! Сайт linkedin.com фіксує ваші візити на сторінки кандидатів. Майте це на увазі, якщо хочете зберегти анонімність.</div>
            <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/vsearch/f?type=all&keywords={{ lastname_uk }}+{{ firstname_uk }}" target="_blank" title="У мережі linkedin">
                <i class="fa fa-linkedin"></i> Шукати «{{ lastname_uk }} {{ firstname_uk }}»
            </a>
            <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/vsearch/f?type=all&keywords={{ lastname_ru }}+{{ firstname_ru }}" target="_blank" title="У мережі linkedin">
                <i class="fa fa-linkedin"></i> Шукати «{{ lastname_ru }} {{ firstname_ru }}»
            </a>

            <hr/>
            <h5>Спробуйте також</h5>
            <a class="btn btn-block btn-social btn-misc" href="http://ua24biz.com/" target="_blank" title="Дані юридичних осіб">
                <i class="fa fa-building"></i> Дані юридичних осіб на ua24biz.com
            </a>
            <a class="btn btn-block btn-social btn-misc" href="https://usr.minjust.gov.ua/ua/freesearch" target="_blank" title="Дані ФОП">
                <i class="fa fa-money"></i> Дані ФОП на usr.minjust.gov.ua
            </a>
            <a class="btn btn-block btn-social btn-misc" href="http://mozdocs.kiev.ua/search-yandex.php" target="_blank" title="Пошук на mozdocs">
                <i class="fa fa-search"></i> Пошук на mozdocs.kiev.ua
            </a>
        </div>
    </div>
    
    <div class="row fill-the-blanks">
        <h4>Відмітьте у випадку, якщо по даному кандидату виявлена суттєва негативна інформація</h4>
        <div class="col-md-6 funkyradio">
            <div class="funkyradio-danger">
                <input type="checkbox" name="attention" id="attention"/>
                <label for="attention">Є суттєва негативна інформація</label>
            </div>
        </div>
    </div>

    <div class="row fill-the-blanks">
        <h4>Відмітьте у випадку, якщо ви знаєте кандидата особисто</h4>
        <div class="col-md-6 funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" name="know-personally" id="know-personally"/>
                <label for="know-personally">Знаю кандидата особисто</label>
            </div>
        </div>
    </div>
    {% endraw %}
</script>

<div id="out">

</div>

