<h3>Цели и методы</h3>

<p>В ходе проверки кандидата вы должны будете собрать из открытых источников (поисковые системы, социальные сети, базы данных онлайн) всю релевантую информацию о кандидате и его родственниках и связях и заполнить на него мини-досье. Досье состоит из таких полей:</p>
<ul>
	<li>Основная информация (дата рождения, география)</li>
	<li>Родственные связи</li>
	<li>Стиль жизни</li>
	<li>Взгляды</li>
	<li>Толлерантность к коррупции</li>
	<li>Связь с бизнес кругами</li>
	<li>Связь с политиками</li>
	<li>Упоминания в СМИ</li>
	<li>Флаг «Обратите внимание»</li>
</ul>

<p>Разберем процедуру поиска на конкретном примере ниже.
TBC
</p>